<div class="tw-w-full tw-flex tw-flex-col tw-grow tw-h-full tw-bg-[#F0EEF4">
  <!-- top menu -->
  <div class="tw-relative tw-bg-[#F0EEF4]">
    <div class="tw-right-3 tw-absolute tw-z-[2] lg:tw-right-[68px] tw-mb-[20px] tw-mt-[30px] xl:tw-mt-[50px]">
      <div
        class="tw-mr-3 md:tw-mr-[68px] tw-h-[60px] tw-w-[60px] tw-items-center tw-justify-center tw-flex !tw-rounded-full tw-cursor-pointer hover:tw-bg-[#f8f8ff] hover:tw-bg-opacity-[0.95] tw-transition-all tw-duration-[0.3s]"
        (click)="openNavbar()">
        <img src="assets/icons/menu.png" button class="tw-w-[25px] md:tw-w-[36px] tw-h-[11px] md:tw-h-[16px]" alt=""
          srcset="" />
      </div>
    </div>
    <div @fadeAnimation
      class="tw-absolute tw-z-[2] tw-left-[16px] lg:tw-left-[80px] tw-mb-[20px] xl:tw-mb-[50px] tw-mt-[20px] xl:tw-mt-[50px]">
      <div>
        <img src="assets/icons/logoblue.png" (click)="moveToHome()"
          class="tw-w-[118px] lg:tw-w-[219px] tw-cursor-pointer" alt="" srcset="" />
      </div>
    </div>
  </div>

  <!-- left menu -->
  <div class="tw-absolute tw-top-[39vh] tw-z-[2]">
    <div class="tw-flex tw-flex-col tw-pl-[16px]">
      <div
        class="tw-cursor-pointer tw-text-[#1A82E3] tw-text-[18px] tw-font-medium tw-mb-[30px] tw-w-[22px] tw-h-[3px] tw-leading-none"
        *ngIf="activeIndex === 0; else founderLine">
        Founder
      </div>
      <ng-template #founderLine>
        <div (click)="changeSlide(0)"
          class="hover:tw-transform hover:tw-scale-y-[1.2] tw-transition-all tw-duration-[0.3s] hover:before:tw-content-['Founder'] tw-cursor-pointer tw-text-[#9A9A9A] hover:tw-bg-transparent tw-text-[12px] tw-font-medium tw-mb-[25px] tw-w-[22px] tw-h-[3px] tw-leading-none tw-bg-[#00000033]">
        </div>
      </ng-template>
      <div
        class="tw-cursor-pointer tw-w-[20vh] tw-text-[#1A82E3] tw-text-[18px] tw-font-medium tw-mb-[25px] tw-h-[3px] tw-leading-none"
        *ngIf="activeIndex >= 1; else coPromoterLine">
        Co-promoters
      </div>
      <ng-template #coPromoterLine>
        <div (click)="changeSlide(1)"
          class="hover:tw-transform hover:tw-scale-y-[1.2] tw-transition-all tw-duration-[0.3s] hover:before:tw-content-['Co-promoters'] hover:tw-w-[20vh] tw-w-[22px] tw-cursor-pointer tw-text-[#9A9A9A] hover:tw-bg-transparent tw-text-[12px] tw-font-medium tw-mb-[25px] tw-h-[3px] tw-leading-none tw-bg-[#00000033]">
        </div>
      </ng-template>
    </div>
  </div>
  <div class="tw-absolute tw-bottom-[5vh] tw-z-[2] tw-right-[5vh]">
    <div class="d-flex">
      <div (click)="changeSlide(0)" style="box-shadow: -4px -3px 45px 21px rgba(207, 194, 215, 0.35);"
        class="tw-cursor-pointer {{
          activeIndex == 0 ? 'tw-opacity-[2]' : 'tw-opacity-[0.4]'
        }} tw-h-[6.5vh] lg:tw-h-[8vh] tw-ml-[10px] tw-w-[6.5vh] lg:tw-w-[8vh] tw-overflow-hidden tw-bg-white tw-relative tw-rounded-full">
        <img src="assets/icons/founder-face.png"
          class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-absolute tw-object-contain tw-h-full tw-w-full tw-top-2"
          alt="" srcset="" />
      </div>
      <div (click)="changeSlide(1)" style="box-shadow: -4px -3px 45px 21px rgba(207, 194, 215, 0.35);"
        class="tw-cursor-pointer {{
          activeIndex == 1 ? 'tw-opacity-[2]' : 'tw-opacity-[0.4]'
        }} tw-h-[6.5vh] lg:tw-h-[8vh] tw-ml-[10px] tw-w-[6.5vh] lg:tw-w-[8vh] tw-overflow-hidden tw-bg-white tw-relative tw-rounded-full">
        <img src="assets/icons/Anita-face.png"
          class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-absolute tw-object-contain tw-h-full tw-w-full tw-top-2"
          alt="" srcset="" />
      </div>
      <div (click)="changeSlide(2)" style="box-shadow: -4px -3px 45px 21px rgba(207, 194, 215, 0.35);"
        class="tw-cursor-pointer {{
          activeIndex == 2 ? 'tw-opacity-[2]' : 'tw-opacity-[0.4]'
        }} tw-h-[6.5vh] lg:tw-h-[8vh] tw-ml-[10px] tw-w-[6.5vh] lg:tw-w-[8vh] tw-overflow-hidden tw-bg-white tw-relative tw-rounded-full">
        <img src="assets/icons/sridhar-face.png"
          class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-absolute tw-object-contain tw-h-full tw-w-full tw-top-2"
          alt="" srcset="" />
      </div>
      <div (click)="changeSlide(3)" style="box-shadow: -4px -3px 45px 21px rgba(207, 194, 215, 0.35);"
        class="tw-cursor-pointer {{
          activeIndex == 3 ? 'tw-opacity-[2]' : 'tw-opacity-[0.4]'
        }} tw-h-[6.5vh] lg:tw-h-[8vh] tw-ml-[10px] tw-w-[6.5vh] lg:tw-w-[8vh] tw-overflow-hidden tw-bg-white tw-relative tw-rounded-full">
        <img src="assets/icons/prabhu-face.png"
          class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-absolute tw-object-contain tw-h-full tw-w-full tw-top-2"
          alt="" srcset="" />
      </div>
      <div (click)="changeSlide(4)" style="box-shadow: -4px -3px 45px 21px rgba(207, 194, 215, 0.35);"
        class="tw-cursor-pointer {{
          activeIndex == 4 ? 'tw-opacity-[2]' : 'tw-opacity-[0.4]'
        }} tw-h-[6.5vh] lg:tw-h-[8vh] tw-ml-[10px] tw-w-[6.5vh] lg:tw-w-[8vh] tw-overflow-hidden tw-bg-white tw-relative tw-rounded-full">
        <img src="assets/icons/avinash-face.png"
          class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-absolute tw-object-contain tw-h-full tw-w-full tw-top-2"
          alt="" srcset="" />
      </div>
    </div>
  </div>

  <swiper #swiper (slideChange)="onSlideChange($event)" [config]="config">
    <ng-template swiperSlide let-data>
      <div class="tw-pl-[16px] lg:tw-pl-[80px] tw-pt-[68px] xl:tw-pt-[80px] tw-h-[100vh]">
        <div
          class="lg:tw-m-auto lg:tw-left-0 tw-top-[15vh] md:tw-top-[21vh] lg:tw-top-[23vh] tw-right-[-50%] md:tw-right-[-17%] lg:tw-right-0 tw-w-[46%] tw-min-w-[454px] lg:tw-min-w-[138vh] tw-h-[454px] lg:tw-h-[138vh] tw-rounded-full tw-absolute tw-bg-white">
        </div>

        <div
          class="tw-flex tw-flex-col lg:tw-flex-row tw-h-full !tw-bg-[#f0eef4] tw-px-0 lg:tw-px-[10vh] tw-pt-0 lg:tw-pt-[10vh]">
          <div
            class="tw-pt-[0vh] lg:tw-pt-0 tw-h-auto tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <div class="tw-pl-[5vh] lg:tw-left-[10vw] tw-top-0 lg:tw-top-[3vh] tw-relative lg:tw-absolute tw-z-[3]">
              <h1
                class="tw-text-[#2F176D] tw-leading-[4vh] lg:tw-leading-[3.5vw] tw-font-bold tw-text-[3.2vh] lg:tw-text-[4.2vw] tw-mt-[0vh] lg:tw-mt-[2vh]">
                Dr. P
                <br />
                Jagannath
              </h1>
              <div class="tw-relative tw-z-[1] tw-w-[90%]">
                <div class="tw-font-normal tw-text-[2vh] tw-text-[#545454]">
                  He is well known for his community service. In 2000, he started  <a href="https://www.indiacancer.org" class="blue-link">www.indiacancer.org</a>  to spread
                  awareness and knowledge about cancer.
                </div>
              </div>
            </div>
          </div>
          <div
            class="tw-pt-[2vh] lg:tw-pt-0 tw-h-[40%] lg:tw-h-[100%] tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <img src="assets/icons/founder.png"
              class="tw-absolute tw-z-[2] tw-left-[1%] lg:tw-left-[-6%] tw-h-auto tw-w-[40vh] lg:tw-w-[32vw]"
              style="object-fit: contain;" alt="" srcset="" />
            <img src="assets/icons/search.png" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-cursor-pointer tw-z-[2] tw-absolute tw-right-[10%] lg:tw-right-[-50%] tw-top-[13%] lg:tw-top-[0%] tw-h-auto tw-w-[11vh] lg:tw-w-[14vh]"
              style="object-fit: contain;" alt="" srcset="" />
          </div>
          <div
            class="tw-flex tw-justify-start tw-h-auto tw-w-[100%] tw-pl-[5vh] lg:tw-pl-[0vh] lg:tw-w-[40%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <span
              class="lg:tw-mt-[30vh] tw-font-normal tw-text-[2vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[10vw] lg:tw-ml-[2vw] tw-mb-[7vh] lg:tw-mb-[20vh]">
              He also established a Charitable Trust to extend financial assistance to patients with cancer,
              particularly children.
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- slide 2 -->
    <ng-template swiperSlide let-data>
      <div class="tw-pl-[16px] lg:tw-pl-[80px] tw-pt-[68px] xl:tw-pt-[80px] tw-h-[100vh]">
        <div *ngIf="activeIndex==1"
          class="lg:tw-m-auto lg:tw-left-0 tw-top-[15vh] md:tw-top-[21vh] lg:tw-top-[-70vh] tw-right-[-50%] md:tw-right-[-17%] lg:tw-right-0 tw-w-[46%] tw-min-w-[454px] lg:tw-min-w-[138vh] tw-h-[454px] lg:tw-h-[138vh] tw-rounded-full tw-absolute tw-bg-white">
        </div>

        <div
          class="tw-flex tw-flex-col lg:tw-flex-row tw-h-full !tw-bg-[#f0eef4] tw-px-0 lg:tw-px-[10vh] tw-pt-0 lg:tw-pt-[10vh]">
          <div
            class="tw-pt-[0vh] lg:tw-pt-0 tw-h-auto tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <div class="tw-pl-[5vh] lg:tw-left-[10vw] tw-top-0 lg:tw-top-[5vh] tw-relative lg:tw-absolute tw-z-[3]">
              <h1
                class="tw-text-[#2F176D] tw-leading-[4vh] lg:tw-leading-[3.5vw] tw-font-bold tw-text-[3.2vh] lg:tw-text-[4.2vw] tw-mt-[0vh] lg:tw-mt-[2vh]">
                Dr.Anita
                <br />
                Borges
              </h1>
              <div class="tw-relative tw-z-[1] tw-w-[100%]">
                <div class="tw-font-normal tw-text-[2vh] tw-text-[#545454]">
                  Lab Director, Centre of Oncopathology Head, Histopathology
                  Dept.,S. L. Raheja Hospital Vice President, Indian Cancer
                  society.
                </div>
              </div>
            </div>
          </div>
          <div
            class="tw-pt-[2vh] lg:tw-pt-0 tw-h-[40%] lg:tw-h-[100%] tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <img src="assets/icons/Anita.png"
              class="md:tw-h-[26.5vw] tw-h-[58vw] tw-absolute tw-z-[2] tw-left-[1%] lg:tw-left-[-6%] tw-w-[40vh] lg:tw-w-[32vw]"
              style="object-fit: contain;" alt="" srcset="" />
            <!-- <img src="assets/icons/search.png" routerLink="/founder-info" class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-cursor-pointer tw-z-[2] tw-absolute tw-right-[10%] lg:tw-right-[-21%] tw-top-[13%] lg:tw-top-[23%] tw-h-auto tw-w-[11vh] lg:tw-w-[14vh]" style="object-fit: contain" alt="" srcset="" /> -->
          </div>
          <div
            class="tw-flex tw-items-center tw-justify-start tw-h-auto tw-w-[100%] tw-pl-[5vh] lg:tw-pl-[0vh] lg:tw-w-[40%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <span
              class="lg:tw-mt-[18vh] tw-font-normal tw-text-[2vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[13vw] tw-mb-[7vh] lg:tw-mb-[20vh]">
              She is a passionate teacher who is optimistic about the fact that
              change is possible if the current educational emphasis on a system
              of memory and recall is replaced by one in which thinking and
              problem solving is paramount.
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- slide 3 -->
    <ng-template swiperSlide let-data>
      <div class="tw-pl-[16px] lg:tw-pl-[80px] tw-pt-[68px] xl:tw-pt-[80px] tw-h-[100vh]">
        <div
          class="lg:tw-m-auto lg:tw-left-0 tw-top-[15vh] md:tw-top-[21vh] lg:tw-top-[23vh] tw-right-[-50%] md:tw-right-[-17%] lg:tw-right-0 tw-w-[46%] tw-min-w-[454px] lg:tw-min-w-[138vh] tw-h-[454px] lg:tw-h-[138vh] tw-rounded-full tw-absolute tw-bg-white">
        </div>

        <div
          class="tw-flex tw-flex-col lg:tw-flex-row tw-h-full !tw-bg-[#f0eef4] tw-px-0 lg:tw-px-[10vh] tw-pt-0 lg:tw-pt-[10vh]">
          <div
            class="tw-pt-[0vh] lg:tw-pt-0 tw-h-auto tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <div class="tw-pl-[5vh] lg:tw-left-[10vw] tw-top-0 lg:tw-top-[3vh] tw-relative lg:tw-absolute tw-z-[3]">
              <h1
                class="tw-text-[#2F176D] tw-leading-[4vh] lg:tw-leading-[3.5vw] tw-font-bold tw-text-[3.2vh] lg:tw-text-[4.2vw] tw-mt-[0vh] lg:tw-mt-[2vh]">
                Dr. G.R
                <br />
                Sridhar
              </h1>
              <div class="tw-relative tw-z-[1] tw-w-[100%]">
                <div class="tw-font-normal tw-text-[2vh] tw-text-[#545454]">
                  Director, Endocrine and Diabetes Centre Adjunct Professor,
                  Bioinformatics, Andhra University College of Engineering,
                  Visakhapatnam
                </div>
              </div>
            </div>
          </div>
          <div
            class="tw-pt-[2vh] lg:tw-pt-0 tw-h-[40%] lg:tw-h-[100%] tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <img src="assets/icons/sridhar.png"
              class="md:tw-h-[26.5vw] tw-h-[58vw] tw-absolute tw-z-[2] tw-left-[1%] lg:tw-left-[-6%] tw-w-[40vh] lg:tw-w-[32vw]"
              style="object-fit: contain;" alt="" srcset="" />
            <!-- <img src="assets/icons/search.png" routerLink="/founder-info" class="tw-cursor-pointer tw-z-[2] tw-absolute tw-right-[10%] lg:tw-right-[-21%] tw-top-[13%] lg:tw-top-[23%] tw-h-auto tw-w-[11vh] lg:tw-w-[14vh]" style="object-fit: contain" alt="" srcset="" /> -->
          </div>
          <div
            class="tw-flex tw-items-center tw-justify-start tw-h-auto tw-w-[100%] tw-pl-[5vh] lg:tw-pl-[0vh] lg:tw-w-[40%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <span
              class="lg:tw-mt-[20vh] tw-font-normal tw-text-[2vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[10vw] lg:tw-ml-[2vw] tw-mb-[7vh] lg:tw-mb-[20vh]">
              He has been President, Research Society for the Study of Diabetes
              in India and President, Endocrine Society of India. His areas of
              research interest are clinical informatics, computational biology,
              bioinformatics, artificial intelligence, psychosocial aspects and
              depression in diabetes.
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- slide 4 -->
    <ng-template swiperSlide let-data>
      <div class="tw-pl-[16px] lg:tw-pl-[80px] tw-pt-[68px] xl:tw-pt-[80px] tw-h-[100vh]">
        <div *ngIf="activeIndex==3"
          class="lg:tw-m-auto lg:tw-left-0 tw-top-[15vh] md:tw-top-[21vh] lg:tw-top-[-70vh] tw-right-[-50%] md:tw-right-[-17%] lg:tw-right-0 tw-w-[46%] tw-min-w-[454px] lg:tw-min-w-[138vh] tw-h-[454px] lg:tw-h-[138vh] tw-rounded-full tw-absolute tw-bg-white">
        </div>

        <div
          class="tw-flex tw-flex-col lg:tw-flex-row tw-h-full !tw-bg-[#f0eef4] tw-px-0 lg:tw-px-[10vh] tw-pt-0 lg:tw-pt-[10vh]">
          <div
            class="tw-pt-[0vh] lg:tw-pt-0 tw-h-auto tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <div class="tw-pl-[5vh] lg:tw-left-[15vw] tw-top-0 lg:tw-top-[10vh] tw-relative lg:tw-absolute tw-z-[3]">
              <h1
                class="tw-text-[#2F176D] tw-leading-[4vh] lg:tw-leading-[3.5vw] tw-font-bold tw-text-[3.2vh] lg:tw-text-[4.2vw] tw-mt-[0vh] lg:tw-mt-[2vh]">
                Dr. P.
                <br />
                Prabhudesai
              </h1>
              <div class="tw-relative tw-z-[1] tw-w-[80%]">
                <div class="tw-font-normal tw-text-[2vh] tw-text-[#545454]">
                  Consultant Chest Physician, Lilavati Hospital & Research
                  Centre.
                </div>
              </div>
            </div>
          </div>
          <div
            class="tw-pt-[2vh] lg:tw-pt-0 tw-h-[40%] lg:tw-h-[100%] tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <img src="assets/icons/prabhu.png"
              class="tw-absolute tw-z-[2] tw-left-[30%] lg:tw-left-[50%] tw-h-auto tw-w-[17vh] lg:tw-w-[15vw]"
              style="object-fit: contain;" alt="" srcset="" />
            <!-- <img src="assets/icons/search.png" routerLink="/founder-info" class="tw-cursor-pointer tw-z-[2] tw-absolute tw-right-[10%] lg:tw-right-[-21%] tw-top-[13%] lg:tw-top-[23%] tw-h-auto tw-w-[11vh] lg:tw-w-[14vh]" style="object-fit: contain" alt="" srcset="" /> -->

          </div>
          <div
            class="tw-flex tw-items-center tw-justify-start tw-h-auto tw-w-[100%] tw-pl-[5vh] lg:tw-pl-[0vh] lg:tw-w-[40%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <span
              class="tw-font-normal tw-text-[2vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[7vw] lg:tw-ml-[4vw] tw-mb-[7vh] lg:tw-mb-[20vh]">
              He has a passion for technology in patient care and is the
              architect of the idea of wearable devices for continuous
              monitoring of SpO2.
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- slide 5 -->
    <ng-template swiperSlide let-data>
      <div class="tw-pl-[16px] lg:tw-pl-[80px] tw-pt-[68px] xl:tw-pt-[80px] tw-h-[100vh]">
        <div
          class="lg:tw-m-auto lg:tw-left-0 tw-top-[15vh] md:tw-top-[21vh] lg:tw-top-[23vh] tw-right-[-50%] md:tw-right-[-17%] lg:tw-right-0 tw-w-[46%] tw-min-w-[454px] lg:tw-min-w-[138vh] tw-h-[454px] lg:tw-h-[138vh] tw-rounded-full tw-absolute tw-bg-white">
        </div>

        <div
          class="tw-flex tw-flex-col lg:tw-flex-row tw-h-full !tw-bg-[#f0eef4] tw-px-0 lg:tw-px-[10vh] tw-pt-0 lg:tw-pt-[10vh]">
          <div
            class="tw-pt-[0vh] lg:tw-pt-0 tw-h-auto tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <div
              class="lg:tw-w-[22vw] tw-pl-[5vh] lg:tw-left-[10vw] tw-top-0 lg:tw-top-[5vh] tw-relative lg:tw-absolute tw-z-[3]">
              <h1
                class="tw-text-[#2F176D] tw-leading-[4vh] lg:tw-leading-[3.5vw] tw-font-bold tw-text-[3.2vh] lg:tw-text-[4.2vw] tw-mt-[0vh] lg:tw-mt-[2vh]">
                Dr. Avinash
                <br />
                Deo
              </h1>
              <div class="tw-relative tw-z-[1] tw-w-[80%]">
                <div class="tw-font-normal tw-text-[2vh] tw-text-[#545454]">
                  Consultant Medical Oncologist, S.L. Raheja Hospital Fortis
                  Associate, Nanavati Hospital.
                </div>
              </div>
            </div>
          </div>
          <div
            class="tw-pt-[2vh] lg:tw-pt-0 tw-h-[40%] lg:tw-h-[100%] tw-w-[100%] lg:tw-w-[30%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <img src="assets/icons/avinash.png"
              class="tw-absolute tw-z-[2] tw-left-[30%] lg:tw-left-[24%] tw-h-auto tw-w-[17vh] lg:tw-w-[15vw]"
              style="object-fit: contain;" alt="" srcset="" />
            <!-- <img src="assets/icons/search.png" routerLink="/founder-info" class="tw-cursor-pointer tw-z-[2] tw-absolute tw-right-[10%] lg:tw-right-[-21%] tw-top-[13%] lg:tw-top-[23%] tw-h-auto tw-w-[11vh] lg:tw-w-[14vh]" style="object-fit: contain" alt="" srcset="" /> -->
          </div>
          <div
            class="tw-flex tw-items-center tw-justify-start tw-h-auto tw-w-[100%] tw-pl-[5vh] lg:tw-pl-[0vh] lg:tw-w-[40%] lg:tw-ml-0 tw-relative tw-overflow-hidden lg:tw-overflow-visible">
            <span
              class="tw-mt-[10vh] tw-font-normal tw-text-[2vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[12vw] tw-mb-[7vh] lg:tw-mb-[20vh]">
              Other than oncology, he has interest in application of technology
              to healthcare. He has developed rule-based expert systems in
              VIDWAN and CLIPS.
            </span>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" style="border-radius: 20px !important;">
    <div class="modal-content tw-bg-transparent">
      <img data-bs-dismiss="modal" aria-label="Close"
        class="hover:tw-transform hover:tw-scale-[1.2] tw-transition-all tw-duration-[0.3s] tw-h-[9vh] tw-cursor-pointer tw-right-[-3%] tw-top-[-8%] tw-z-[2] tw-absolute"
        src="assets/icons/transparentcross.png" alt="" srcset="" />

      <div class="modal-body tw-p-0">
        <!-- <iframe class="tw-w-[100%] tw-h-[300px] lg:tw-h-[600px]"
          src="https://www.youtube.com/embed/K4Si8igL1TM" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe> -->


        <div class="">
          <div
            class="tw-pt-4 tw-pb-4 tw-pl-[4vh] lg:tw-pl-[4vw] tw-pr-[0px] lg:tw-pr-[4vw] lg:tw-pt-[15vh] lg:tw-pb-[15vh] tw-flex tw-flex-col lg:tw-flex-row tw-h-full"
            style="background-color: white !important;">
            <div
              class="tw-h-auto tw-mb-[4vh] lg:tw-mb-[0vh] lg:tw-h-full tw-pr-[10px] lg:tw-pr[0px] tw-w-[100%] lg:tw-w-[33.33%] tw-flex tw-flex-col">
              <h1
                class="tw-text-[#545454] tw-font-bold tw-text-[3.2vh] md:tw-text-[2vw] tw-mt-[0vh] lg:tw-mt-[2vh] tw-mb-[1vh] lg:tw-mb-[2vh]">
                Background
              </h1>
              <span class="tw-font-normal tw-text-[2.1vh] lg:tw-text-[2.1vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[68px]">
                A pioneer Cancer surgeon with 35+ years of surgical experience who
                started Hepato Biliary Pancreatic Surgery in India in 1985, he has
                been associated with SL Raheja and Lilavati Hospitals since c. 20
                years. He was earlier associated with Tata Memorial Hospital.
              </span>
            </div>

            <div
              class="tw-h-auto tw-mb-[4vh] lg:tw-mb-[0vh] lg:tw-h-full tw-pr-[10px] lg:tw-pr[0px] tw-w-[100%] lg:tw-w-[33.33%] tw-flex tw-flex-col">
              <h1
                class="tw-text-[#545454] tw-font-bold tw-text-[3.2vh] md:tw-text-[2vw] tw-mt-[0vh] lg:tw-mt-[2vh] tw-mb-[1vh] lg:tw-mb-[2vh]">
                Policy Making
              </h1>
              <span class="tw-font-normal tw-text-[2.1vh] lg:tw-text-[2.1vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[68px]">
                Senior Advisor to Tata Trusts (one of the leading philanthropic
                organisations in India) on their cancer project involving 100 centres
                and 10 states. Lead to the World Economic Forum Centre for 4th
                Industrial Revolution (C4IR) - FIRST Cancer Care project – leveraging
                emerging technologies for transformation of Cancer Care.
              </span>
            </div>

            <div
              class="tw-h-auto lg:tw-h-full tw-pr-[10px] lg:tw-pr[0px] tw-w-[100%] lg:tw-w-[33.33%] tw-flex tw-flex-col">
              <h1
                class="tw-text-[#545454] tw-font-bold tw-text-[3.2vh] md:tw-text-[2vw] tw-mt-[0vh] lg:tw-mt-[2vh] tw-mb-[1vh] lg:tw-mb-[2vh]">
                Reputation
              </h1>
              <span class="tw-font-normal tw-text-[2.1vh] lg:tw-text-[2.1vh] tw-text-[#545454] tw-mr-3 lg:tw-mr-[68px]">
                Internationally renowned in the field of Oncology, he is the surgeon
                of choice for various celebrities. He has also been speaker/chairman
                in 50+ international conferences and is the only Indian to become the
                President of International HPB association.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>